<!-- New.ejs is made to create new istings and them -->
<%layout("/layouts/boilerplate")%> 
<div class="row mt-3">
    <!-- offset means spacing from left -->
    <div class="col-8 offset-2"> 
    <h3>Create New Listing</h3>
    <!-- here we've used bootstrap form overview and made separate div for sections and mb-3 is bootstrap class for spacing -->
    <form action="/Listings" method="post" novalidate class="needs-validation"enctype="multipart/form-data">
        <div class="mb-3">  
            <label for="title"class="form-label">Title</label>
   <input type="text" 
   name="listing[title]" 
   id="" 
   placeholder="Enter your title"
   class="form-control" required>
<!-- This valid-feedback is bootstrapclass which will show feedback msg after we enter title and click on add btn it will reflect custom validation msg added by ourside -->
   <div class="valid-feedback">Amazing title!</div>
        </div>
        <div class="mb-3">
            <label for="description"class="form-label">Description</label>
            <textarea type="text" 
            name="listing[description]" 
            id=""
            class="form-control"
            required></textarea>
            <div class="invalid-feedback">Enter short description</div>
        </div>
        <div class="mb-3">
            <label for="image"class="form-label">Image URL</label>
            <input type="file" name="listing[image]" id="" placeholder="Enter your image url"
            class="form-control" >
            required
            </div>
        
 <!-- here we're are making all variable as a key of object [listing] so listing object key will be title,description etc.. -->
 <!-- We've added price and location in row div so they will be in same row till screen is large but after screen goes below medium lvl they will come in one line -->
 <div class="row">
    <div class="mb-3 col-md-4">
    <label for="price"class="form-label">Price</label>
     <input type="number" 
     name="listing[price]"
      id="" 
      placeholder="Enter your price" 
      class="form-control" required>
      <div class="invalid-feedback">Enter Valid Price</div>
 </div>
 
 <div class="mb-3 col-md-8">
    <label for="location"class="form-label">Location</label>
    <input type="text" name="listing[location]" id="" placeholder="Enter your location" class="form-control" required>
    <div class="invalid-feedback">Enter Location</div>
</div>

 </div>
 
 <div class="mb-3">
    <label for="country"class="form-label">Country</label>
     <input type="text" name="listing[country]" id="" placeholder="Enter your country"class="form-control" required>
     <div class="invalid-feedback">Enter Valid Country Name</div>
    </div>
 <button class="btn btn-dark add-btn mt-3">Add</button> <br><br>
    </form>
</div>
</div>